.icon_chatballoon_red{
	color: #cf5d60 !important;
}
.icon_chatballoon_green{
	color: #8BB467 !important;
}
.icon_chatballoon_dotted{
	color: #4eafcb !important;
}
.icon_chatballoon{
	color: #a0a0a0 !important;
}