.navtitle {
	padding: 10px 6px 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #838d94;
    letter-spacing: 0.5px;
    line-height: 16px;
}

.navtitle img {
	display: none;
}

.navsub {
	padding: 0px 0px 5px 0;
	margin: 10px 0px 10px 0px;
	/*border: 1px solid rgba(0,0,0,.1);*/
	border-top: none;
	background-color: #fff;
}

.navsub #parent {
	margin: 5px 0;
}

.navinfoitemtext {
	padding: 5px 10px !important;
}

.staffnavbar {
	padding: 0;
	margin: 0;
	border-right: 1px solid #d1d5d7;
	width: 250px;
}

.staffnavbar table{
	width: 248px;
}

.navbox {
	width: 100%;
	color: #3c3e43;
	font-size: 13px;
	float: left;
	position: relative;
	margin-top: 10px;
    box-shadow: 0px 0px 4px 0px #eee;
    border-radius: 2px;
}

.navboxtop {
	height: 22px;
	padding: 8px 0 12px 10px;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	font-weight: 600;
    font-size: 14px;
}

.navboxtopleft {
	display: none;
	width: 7px;
	height: 22px;
	float: left;
}

.navboxcontent {
	font-weight: 600;
	border-top: none;
}

.navitem {
	color: #3c3e43;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
}

.navitem2 {
	color: #3c3e43;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
}

.navitemhover {
	background-color: #f8f8f8;
	color: #3c3e43;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
}

#tagcloudcontainer {
	padding: 0 0 0 10px;
}

#tagcloudcontainer a {
	display: inline-block;
    font-size: 11px !important;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1px 4px 1px 6px;
    margin: 1px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ebeef0;
    background-clip: padding-box;
    max-width: 75%;
    box-shadow: 1px 1px #ebeef0;
    color: #5f6c73;
    font-weight: 500;
    -webkit-transition: border-color .15s;
     -moz-transition: border-color .15s;
       -o-transition: border-color .15s;
          transition: border-color .15s;
    transition: border-color .15s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#tagcloudcontainer a:hover{
    color: #2D3138;
    border-color: #BEC4C7;
}

#customnavcontainer{
	margin-top: 11px;
}


.onlinestaffcontainer .fa{
	vertical-align: bottom;
}

.online_icon{
	margin-left: 30px;
    margin-right: 6px;
    font-size: 10px !important;
    border-radius: 20px;
}

#onlinestaffcontainer .fa{
	font-size: 8px !important;
	vertical-align: 1px !important;
}

.icon_onlinemoov{
	color: rgb(157, 92, 197);
	background-color: rgb(157, 92, 197);
}

.icon_online{
	color: rgb(87, 130, 210);
	background-color: rgb(87, 130, 210);
}

.icon_onlinepda{
	color: rgb(197, 122, 202);
	background-color: rgb(197, 122, 202);
}

.icon_onlineyellow{
	color: rgb(195, 206, 30);
	background-color: rgb(195, 206, 30);
}
