/*
* SWIFT Custom Popups CSS
*/

.ui-resizable-handle{
	opacity: 0 !important;
}

.ui-dialog{
	border-radius: 4px;
	box-shadow: 0px 0px 20px rgba(56,56,56,.2);
	min-width: 750px;
}

.ui-dialog #tabtoolbartable{
	margin-bottom: 6px;
}

#tabtoolbartable{
	margin-bottom: 10px;
}

.ui-dialog .ui-dialog-content {
	margin-left: 0px !important;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-bottom: 65px;
	min-width: 750px;
	overflow: hidden !important;
}

.ui-tabs .ui-tabs-panel {
	border: none !important;
}

.ui-widget-overlay{
	background: #fff;
    opacity: 0.6;
    transition: all 3s ease;
}

.ui-tabs .ui-tabs-nav {
	border: none !important;
}

.ui-dialog .ui-dialog-titlebar{
	border: none;
}

.ui-dialog .ui-dialog-title{
	font-weight: 600 !important;
}

.ui-dialog-titlebar span img{
	margin-right: 3px;
}

.ui-dialog-titlebar{
	padding: 10px 6px 3px 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600 !important;
    color: #838d94;
    letter-spacing: 0.92px;
    line-height: 16px;
}

.ui-datepicker .ui-state-hover{
	border: none;
	background-color: none;
}

.ui-datepicker .ui-icon-circle-triangle-w, .ui-datepicker  .ui-icon-circle-triangle-e{
	top: 18px !important;
}

.ui-dialog .ui-dialog-titlebar-close{
	right: 0.5em !important;
	font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar-close span{
	width: 20px !important;
}

.ui-dialog .ui-tabs-panel {
	overflow-y: auto;
}

.bottom-container-panel {
	width: 100%;
	border: none;
	color: #ddd;
	height: 56px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	background-color: #f7f7f8;
	border-top: 1px solid #e8e8e8;
}
